<!DOCTYPE html>
<html>
    <head>
        <script type="text/javascript" src="/js/scripts.js"></script>
        <link rel="stylesheet" type="text/css" href="/css/styles.css">
    </head>
    <body>
        <div class = "topnav">
            {{#ifCond active 'profile'}}
                <a class = "active" onclick="gotoprofile('{{email}}')"> PROFILE </a>
            {{else}}
                <a onclick="gotoprofile('{{email}}')"> PROFILE </a>
            {{/ifCond}}

            
            
            {{#ifCond position 'student'}}
                {{#ifCond active 'searchslots'}}
                <a class = "active" onclick="gotosearchslot('{{email}}')" href = "searchslots"> SEARCH SLOTS </a>
                {{else}}
                    <a onclick="gotosearchslot('{{email}}')" href = "searchslots"> SEARCH SLOTS </a>
                {{/ifCond}}

                {{#ifCond active 'studentreserve'}}
                    <a class = "active" onclick="gotoreserveslot('{{email}}')"> RESERVE SLOT (STUDENT) </a>
                {{else}}
                    <a onclick="gotoreserveslot('{{email}}')"> RESERVE SLOT (STUDENT) </a>
                {{/ifCond}}
            {{/ifCond}}
            {{#ifCond position 'technician'}}
                {{#ifCond active 'labtechnicianreserve'}}
                    <a class = "active" onclick="gototreserveslot('{{email}}')" href = "labtechnicianreserve"> RESERVE FOR STUDENT (LAB TECH) </a>
                {{else}}
                    <a onclick="gototreserveslot('{{email}}')" href = "labtechnicianreserve"> RESERVE FOR STUDENT (LAB TECH) </a>
                {{/ifCond}}

                {{#ifCond active 'labtechnicianmodify'}}
                    <a class = "active" onclick="gototmodifyslot('{{email}}')" href = "labtechnicianmodify"> MODIFY RESERVATIONS (LAB TECH) </a>
                {{else}}
                    <a onclick="gototmodifyslot('{{email}}')" href = "labtechnicianmodify"> MODIFY RESERVATIONS (LAB TECH) </a>
                {{/ifCond}}
            {{/ifCond}}

            
            
            {{#ifCond active 'searchusers'}}
                 <a class = "active" onclick="gotosearchuser('{{email}}')" href = "searchusers"> SEARCH USER </a>
            {{else}}
                 <a onclick="gotosearchuser('{{email}}')" href = "searchusers"> SEARCH USER </a>
            {{/ifCond}}
            <a id = "right" href = "index"> LOGOUT</a>
        </div>  
    </body>
</html>