<!DOCTYPE html>
<html>
    <head>
        <script type="text/javascript" src="/js/scripts.js"></script>
        <link rel="stylesheet" type="text/css" href="/css/styles.css">
    </head>
    <body>
        <div class = "topnav">
            {{#ifCond active 'profile'}}
                <a class = "active" href = "profile"> PROFILE </a>
            {{else}}
                <a href = "profile"> PROFILE </a>
            {{/ifCond}}

            
            
            {{#ifCond position 'student'}}
                {{#ifCond active 'searchslots'}}
                <a class = "active" href = "searchslots"> SEARCH SLOTS </a>
                {{else}}
                    <a href = "searchslots"> SEARCH SLOTS </a>
                {{/ifCond}}

                {{#ifCond active 'studentreserve'}}
                    <a class = "active" href =  "studentreserve"> RESERVE SLOT </a>
                {{else}}
                    <a href = "studentreserve"> RESERVE SLOT </a>
                {{/ifCond}}
            {{/ifCond}}
            {{#ifCond position 'technician'}}
                {{#ifCond active 'labtechnicianreserve'}}
                    <a class = "active" herf="techreserve"> RESERVE FOR STUDENT </a>
                {{else}}
                    <a herf="techreserve"> RESERVE FOR STUDENT </a>
                {{/ifCond}}

                {{#ifCond active 'studentreserve'}}
                    <a class = "active" href="techmodify"> MODIFY RESERVATIONS </a>
                {{else}}
                    <a href="techmodify"> MODIFY RESERVATIONS </a>
                {{/ifCond}}
            {{/ifCond}}

            
            
            {{#ifCond active 'searchusers'}}
                 <a class = "active" href="searchuser"> SEARCH USER </a>
            {{else}}
                 <a href="searchuser"> SEARCH USER </a>
            {{/ifCond}}
            <a id = "right" href = "index"> LOGOUT</a>
        </div>  
    </body>
</html>