


<!DOCTYPE html>
<html>
    <head>
        <script type="text/javascript" src="/js/scripts.js"></script>
        <link rel="stylesheet" type="text/css" href="/css/styles.css">
    </head>
    <body>
        <div class="seatplan">
            <table id="slots">
                {{#times 20}}
                    {{!-- <input type="checkbox" id="seat{{this}}" name="seat{{this}}" value="seat{{this}}">
                    <label for="seat{{this}}">SEAT {{this}}</label> --}}
                    <td> SEAT {{this}}<br>(Free) </td>
                    {{#ifCond this 5}}
                        </tr>
                        <tr>
                    {{/ifCond}}

                    {{#ifCond this 10}}
                        </tr>
                        <tr>
                    {{/ifCond}}

                    {{#ifCond this 15}}
                        </tr>
                        <tr>
                    {{/ifCond}}
                {{/times}}
                    </tr>
            </table>
        </div>   
    </body>
</html>