<!DOCTYPE html>
<html>
    <head>
        <title> Edit Profile </title>
        <script type="text/javascript" src="/js/scripts.js"></script>
        <link rel="stylesheet" type="text/css" href="/css/styles.css">
    </head>

    <body>
        {{> nav}}
        <h1>
            <div class = "header">
                EDIT PROFILE
            </div>
        </h1>

        <div class="content">
            <form id = "editform" class="form-style" method="post" action="/saveprofile">
                <p> Account type: </p>
                {{#ifCond position 'student'}}
                    <input type="radio" id="student" name="accounttype" value="student" selected required>
                    <label for="student"> Student </label>
                {{else}}
                    <input type="radio" id="student" name="accounttype" value="student" required>
                    <label for="student"> Student </label>
                {{/ifCond}}
                
                {{#ifCond position 'technician'}}
                    <input type="radio" id="labtechnician" name="accounttype" value="technician" selected required>
                    <label for="labtechnician"> Lab technician</label><br><br>
                {{else}}
                    <input type="radio" id="labtechnician" name="accounttype" value="technician" required>
                    <label for="labtechnician"> Lab technician</label><br><br>
                {{/ifCond}}

                

                <label for="username"> Username </label><br>
                <input type="text" id="username" name="username" value="{{username}}"><br>
                {{!-- <label for="profile-picture"> Profile Picture </label><br><br>
                <input type="file" placeholder="Upload Picture" id="profile-picture" name="profile-picture"><br><br> --}}
                <label for="description"> Your Description </label><br>
                <input type="text" id="description" name="description" value="{{description}}"><br>
                <input type="hidden" id="email" name="email" value="{{email}}">
            </form>
        </div>

        <div class = "save-account-changes">
            <a class = "button1" onclick="getElementById('editform').submit();"> Save Changes </a>
        </div>
        <div class = "cancel-account-changes">
            <a class = "button1" href = "profile"> Cancel Changes </a>
        </div>
    </body>
</html>