<!DOCTYPE html>
<html>
    <head>
        <title> Modify Student Reservations </title>
        <script type="text/javascript" src="/js/scripts.js"></script>
        <link rel="stylesheet" type="text/css" href="/css/styles.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="/js/modifytech.js" type="text/javascript"></script>
    </head>

    <body>
        {{> nav}}
        <h1>
            <div class="header">
                Modify Student Reservations
            </div>
        </h1>

        <div class = "content">
            <p>Enter the email of the student whose reservation you will modify:</p>
            <label for="find_email"> Email of user: </label><br>
                <input type="email" placeholder="Enter Email" id="find_email" name="find_email" required><br>
                <p id = "searchuser_error"></p>
                <input type="submit" id = "submit" onclick = "searchUserTech('{{email}}')" value = "Search user">
            {{#ifCond display 'true'}}
            <div id = "search-result" style="border:2px solid; vertical-align: middle;">
                <table class = "lab-reservations" style = "width: 100%; margin: auto;">
                    <th colspan = "2"> Lab Reservations </th>
                    {{#each myReservations}}
                    <tr>
                        <td>
                            {{add1 @index}}. Lab {{add1 lab}}, {{getdate date}}, {{gettime time}} Created on: {{created}}
                        </td>
                        <td style = "width: 4%; border:0px;"><a class = "button2" onclick = "editReserve('{{../email}}','{{../editing_email}}','{{id}}')"> Edit </a></td>
                        <td style = "width: 4%; border:0px;"><a class = "button2" onclick = "deleteReserve('{{../email}}','{{../editing_email}}','{{id}},{{created}}')"> Edit </a></td>
                    </tr>
                    {{/each}}
                </table>
            </div>
            {{/ifCond}}

        </div>
    </body>
</html>