<!DOCTYPE html>
<html>
    <head>
        <title> Profile </title>
        <script type="text/javascript" src="/js/scripts.js"></script>
        <link rel="stylesheet" type="text/css" href="/css/styles.css">
    </head>

    <body>
        {{> nav}}
        <h1>
            <div class = "header">
                PROFILE
            </div>
        </h1>

        <div class = "profile-details">
            <div class = "profile-left-side">
                <img class = "profile-picture" style = "border: 1px solid;" src="/image/profilepicture.jpg">

                <div class = "user-type" style = "border: 1px solid;">
                    <p id="user-type-text" style = "text-align: center;"> {{position}} </p>
                </div>
            </div>
            <div class = "profile-right-side" style = "border: 1px solid;">
                <p style = "margin:5px; line-height:25px;">Username: {{username}}<br>Email: {{email}}<br>{{description}}</p>
            </div>
        </div>

        <div class = "content" style = "margin-left: 10%; margin-right: 10%;">
            <table class = "lab-reservations" style = "width: 100%; margin: auto;">
                <th colspan = "2"> Lab Reservations </th>
                {{#each myReservations}}
                <tr>
                    <td>
                        {{add1 @index}}. Lab {{add1 lab}}, {{getdate date}}, {{gettime time}} Created on: {{created}}
                    </td>
                    <td style = "width: 4%; border:0px;"><a class = "button2" onclick = "editReserve('{{../email}}','{{../email}}','{{id}}')"> Edit </a></td>
                </tr>
                {{/each}}
            </table>
        </div>

        <div class = "edit-account">
            <a class = "button1" onclick = "editprofile('{{email}}','{{username}}','{{description}}','{{position}}')"> Edit Account </a>
        </div>
        <div class = "delete-account">
            <!-- <a class = "button1" href="index"> Delete Account </a> -->
            <a class = "button1" onclick = "deleteprofile('{{email}}')"> Delete Account </a>
        </div>
    </body>
</html>