<!DOCTYPE html>
<html>
    <head>
        <title> Search Free Slots </title>
        <script type="text/javascript" src="/js/scripts.js"></script>
        <link rel="stylesheet" type="text/css" href="/css/styles.css">
    </head>

    <body onload='makeArray(3,9,12,20);'>
        {{> nav}}
        <h1>
            <div class="header">
                Search free slots
            </div>
        </h1>
        
        <div class = "content">
            <label for="search_lab_num">Choose a lab:</label>

            <select name="search_lab_num" id="search_lab_num">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
    
            <label for="search_day_num">Choose a day:</label>
    
            <select name="day_num" id="day_num">
                <option value="0">{{getdate 0}} (Today)</option>
                <option value="1">{{getdate 1}}</option>
                <option value="2">{{getdate 2}}</option>
                <option value="3">{{getdate 3}}</option>
                <option value="4">{{getdate 4}}</option>
                <option value="5">{{getdate 5}}</option>
                <option value="6">{{getdate 6}}</option>
                <option value="7">{{getdate 7}}</option>
                <option value="8">{{getdate 8}}</option>
            </select>
    
            <label for="search_time">Choose a time:</label>
    
            <select name="search_time" id="search_time">
                <option value="0">10:00AM-10:30AM</option>
                <option value="1">10:30AM-11:00AM</option>
                <option value="2">11:00AM-11:30AM</option>
                <option value="3">11:30AM-12:00PM</option>
                <option value="4">12:00PM-12:30PM</option>
                <option value="5">12:30PM-1:00PM</option>
                <option value="6">1:00PM-1:30PM</option>
                <option value="7">1:30PM-2:00PM</option>
                <option value="8">2:00PM-2:30PM</option>
                <option value="9">2:30PM-3:00PM</option>
                <option value="10">3:00PM-3:30PM</option>
                <option value="11">3:30PM-4:00PM</option>
            </select>
    
            <input type="submit" onclick = "displayFreeSlots('{{data}}','{{email}}')" value = "Search free slots">
            {{>seatplan}}
        </div> 
</html>