<!DOCTYPE html>
<html>
    <head onload='makeArray(3,9,12,20);'>
        <title> Edit Reservation Slot </title>
        <script type="text/javascript" src="/js/scripts.js"></script>
        <link rel="stylesheet" type="text/css" href="/css/styles.css">
    </head>

    <body onload="makeArray(3,9,12,20); displaySlotsE('{{data}}','{{lab}}','{{date}}','{{time}}','{{seat}}');">
        {{> nav}}
        <h1>
            <div class="header">
                Edit Reservation Slot
            </div>
        </h1>

        <div class = "content">
            <p> You can edit your reservation here:</p>
            <p id="timeslot"> </p>
            <table id="slots">
                <tr>
                    <td> Free </td>
                    <td> Free </td>
                    <td> Free </td>
                    <td> Free </td>
                    <td> Free </td>
                </tr>
                <tr>
                    <td> Free </td>
                    <td> Free </td>
                    <td> Free </td>
                    <td> Free </td>
                    <td> Free </td>
                </tr>
                <tr>
                    <td> Free </td>
                    <td> Free </td>
                    <td> Free </td>
                    <td> Free </td>
                    <td> Free </td>
                </tr>
                <tr>
                    <td> Free </td>
                    <td> Free </td>
                    <td> Free </td>
                    <td> Free </td>
                    <td> Free </td>
                </tr>
            </table>
            
            <br>
            <input type="submit" onclick = "editreserved('{{email}}','{{lab}}','{{date}}','{{time}}','{{seat}}')" value = "Reserve">
        </div>

        <div class = "cancel-reservation-changes">
            <a class = "button1" href = "profile"> Cancel Changes </a>
        </div>
    </body>
</html>