<!DOCTYPE html>
<html>
    <head>
        <title> Viewing Profile </title>
        <script type="text/javascript" src="/js/scripts.js"></script>
        <link rel="stylesheet" type="text/css" href="/css/styles.css">
    </head>

    <body>
        {{> nav}}
        <h1>
            <div class = "header">
                VIEWING PROFILE
            </div>
        </h1>

        <div class = "profile-details">
            <div class = "profile-left-side">
                <img class = "profile-picture" style = "border: 1px solid;" src="/image/profilepicture.jpg">

                <div class = "user-type" style = "border: 1px solid;">
                    <p id="user-type-text" style = "text-align: center;"> {{data.position}} </p>
                </div>
            </div>
            <div class = "profile-right-side" style = "border: 1px solid;">
                <p style = "margin:5px; line-height:25px;">Username: {{data.username}}<br>Email:{{data.email}}<br>{{data.description}}</p>
            </div>
        </div>

        <div class = "content" style = "margin-left: 10%; margin-right: 10%;">
            <table class = "lab-reservations" style = "width: 100%; margin: auto;">
                <th colspan = "2"> Lab Reservations </th>
                {{#each data.myReservations}}
                <tr>
                    <td>
                        {{add1 @index}}. Lab {{add1 lab}}, 6/{{add20 date}}/2023, {{gettime time}}: Seat: {{add1 seat}} Created on: 6/15/2023, 9:53PM"
                    </td>
                </tr>
                {{/each}}
            </table>
        {{!-- </div>

        <div class = "return-profile">
            <a class = "button3" href="profile"> Return to Profile </a>
        </div> --}}
    </body>
</html>